@model CosmeticcShop.Models.Product
@{
    ViewData["Title"] = "Edit";

}
<h1>Edit</h1>
<h4>Products</h4>
<hr />
<form asp-action="Edit">
    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type+"hidden" asp-for="ProductId" />
    <div class="form-group">
        <label asp-for="Names" class="control-label"></label>
        <input asp-for="Names" class="form-control" />
    </div>
    <div class="form_group">
        <label asp-formaction="Descriptions" class="control-label"></label>
        <input asp-for="Descriptions" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div class="form_group">
        <label asp-formaction="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>